<h1>Signup</h1>

<form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)">
    <div class="form-field">
        <label for="email">Email</label>
        <input autocomplete="email" formControlName="email" id="email" type="email">
    </div>

    <div class="form-field">
        <label for="username">Username</label>
        <input autocomplete="username" formControlName="username" id="username" type="text">
    </div>

    <div class="form-field">
        <label for="password">Password</label>
        <input autocomplete="new-password" formControlName="password" id="password" type="password">
    </div>

    <a routerLink="/login">Login</a>

    <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
</form>