@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './colors.scss';

body {
    background-color: hsl(0, 0%, 5%);
    color: white;
    font-family: 'Roboto';
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}