@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './colors.scss';

body {
    background: linear-gradient(30deg, map-get($theme-colors, 5), map-get($theme-colors, 4));
    color: white;
    font-family: 'Roboto';
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}